body {
  font-family: "Open Sans", sans-serif;
  background-color: aliceblue;
  background-image: url(Fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  
}

#intro{
color:white;
background-color:black;
}

#menu{

}