body {
  font-family: "Open Sans", sans-serif;
  background-color: aliceblue;
  background-image: url(Fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

p {
 align-content: center;
  text-align: center;
  
}
